/* ************ ******* *** Variables Section *** ******* ************ */
// Colors
$color-green-simple-0: #05ff97; //#27AE60;
$color-green-simple-1: #55c57a;
$color-green-simple-2 : #45c072;

$color-green-light-1: #7ed56f;

$color-green-dark-1: #28b485;
$color-green-dark-2: #3d564a;

$color-orange-light-1: #ffb900;

$color-orange-dark-1: #ff7730;

$color-purple-light-1: #5643fa;

$color-grey-light-0: #f7f7f7;
$color-grey-light-1: #f8f8f8;
$color-grey-light-2: #eeeeee;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-blue-light-1: #2998ff;
$color-blue-light-2: #2185dc;

$color-blue-grey-1:#9db9ed;

$color-blue-dark-1: #1c3369;
$color-blue-dark-2: #191d2b;

// Fonts
$default-font-size: 1.6rem;

// GRID 
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
